/src/*.js
/.idea
*.iml
/bundle.js
/npm-debug.log
/node_modules/
/dist/
/lib/
target/

# OS junk files #
#################
[Tt]humbs.db
*.DS_Store
*.db
*.log
*.log.zip
*.log.gz
*.log.tgz
*.log.bz2
*.~lock.*
*.log.lck
